# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.svd
*.pdb
*.mdb

# Rider / VS / VSCode
.idea/
.vs/
.vscode/*.*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Unity Cache
UserSettings/
